*{
    /* border: 1px solid red; */
}

li{
    list-style-type: none
}

.header-item{
    border: 1px solid blue; 
    display: inline-flex;
    gap: 24px;
}
  

.header{
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgb(207, 239, 248);
}